@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, 
body {
    height: 100%;
}

.main-body{
    background-size:cover;
    background-image: url(../img/shutterstock_572371972.png);
    background-position: center;
}

.kalam{
    font-family: 'Kalam', cursive;
}

.marker{
    font-family: 'Permanent Marker', cursive;
}

.cedarville{
  font-family: 'Cedarville Cursive', cursive;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}


/* ====================================
Logo start
==================================== */
.logo {
  top: 3%;
  left: 2%;
}

.logo-quizparty{
  max-width: 54px;
  height: auto;
}

/* ====================================
Logo end
==================================== */

/* ====================================
Navigation start
==================================== */
.sign-in{
  right: 7rem;
  top: 2rem;
  z-index: 100;

}

.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    display: none;
    opacity: 0;
}

.menu-active-color{
  background-color: #fb4868;
}
  
nav,
  nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
  
nav ul li {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    display: none;
}
  
nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    opacity: 0;
}
  
nav li a:hover{
    color: white;
}
  
nav li a:before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
  
nav li a:after {
    content: attr(data-content);
    font-size: 0.7rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0;
    position: absolute;
    z-index: 100;
    color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    text-transform: none;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
}
  
nav li a:hover:after {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 1;
}
  
nav li:nth-of-type(1) {
    background-color: #ffdc04
}
  
nav li:nth-of-type(2) {
    background-color: #06c8bf
}
  
nav li:nth-of-type(3) {
    background-color: #b71799
}
  
nav li:nth-of-type(4) {
    background-color: #a4ff40
}
  
nav li:nth-of-type(5) {
    background-color: #fb4868
}
/* ====================================
    Navigation end
==================================== */
  
  
/* ====================================
  Burger menu start
==================================== */
  
  .open-overlay {
    position: absolute;
    right: 3rem;
    top: 2rem;
    z-index: 100;
    display: block;
    cursor: pointer;
  }
  
  .open-overlay span {
    display: block;
    height: 1px;
    background-color: #fff !important;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 30px;
  }
  
  .animate-top-bar {
    -webkit-animation: animate-top-bar .6s linear 1 both;
    animation: animate-top-bar .6s linear 1 both
  }
  
  .animate-bottom-bar {
    -webkit-animation: animate-bottom-bar .6s linear 1 both;
    animation: animate-bottom-bar .6s linear 1 both
  }
  
  .animate-middle-bar {
    -webkit-animation: animate-middle-bar .6s linear 1 both;
    animation: animate-middle-bar .6s linear 1 both
  }
  
  .animate-out-top-bar {
    -webkit-animation: animate-out-top-bar .6s linear 1 both;
    animation: animate-out-top-bar .6s linear 1 both
  }
  
  .animate-out-bottom-bar {
    -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
    animation: animate-out-bottom-bar .6s linear 1 both
  }
  
  .animate-out-middle-bar {
    -webkit-animation: animate-out-middle-bar .6s linear 1 both;
    animation: animate-out-middle-bar .6s linear 1 both
  }
  /* ====================================
    Burger menu end
  ==================================== */
  
  /* ====================================
  Animation keyframes
  ==================================== */
  
  @keyframes animate-top-bar {
    0% {
      background-color: #fff;
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5pfx);
      transform: translateY(5px);
      background-color: #fff
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #29363B;
    }
  }
  
  @keyframes animate-bottom-bar {
    0% {
      background-color: #fff;
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      background-color: #fff;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #29363B;
    }
  }
  
  @keyframes animate-middle-bar {
    0% {
      background-color: #fff;
    }
    80% {
      background-color: #fff;
    }
    100% {
      background-color: #29363B;
    }
  }
  
  @keyframes animate-out-top-bar {
    0% {
      background-color: #29363B
    }
    50% {
      -webkit-transform: translateY(9px);
      transform: translateY(9px)
    }
    80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      background-color: #29363B
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #fff;
    }
  }
  
  @keyframes animate-out-bottom-bar {
    0% {
      background-color: #29363B
    }
    50% {
      -webkit-transform: translateY(-9px);
      transform: translateY(-9px)
    }
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      background-color: #29363B;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: #fff;
    }
  }
  
  @keyframes animate-out-middle-bar {
    0% {
      background-color: #29363B
    }
    80% {
      background-color: #29363B;
    }
    100% {
      background-color: #fff;
    }
  }
  
  .home a {
    font-family: "Work Sans", sans-serif;
    color: #222;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #222;
  }
  
/* fin navbar */

.home-title{
    font-size: 7rem;
}

.home-buttons{
    width: 300px;
}

.play-hover:hover{
    background-color: #b2199f !important;
}


/* ====================================
Hub start
==================================== */

/* HUD */
.background-white {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow:  0 0 0.3em 0.1em white;
}

.hud-prefix{
  font-size: 2rem;
}

.hud-text{
  font-size: 1.5rem;
}

#progressBarFull{
  height: 20px;
  width: 0%;
}

/* ====================================
Hub end
==================================== */


/* ====================================
Question start
==================================== */

.question-card{
width: 100%;
height: 20vh;
}

.game-choice{
border: 2px solid transparent
}

.game-choice:hover{
border: 2px solid #2BBBAD;
cursor: pointer;
}

.correct{
  border: 2px solid #00C851;
  cursor: pointer;
}

.incorrect{
  border: 2px solid #f44336;
}



/* ====================================
Question end
==================================== */

.contact-img{
  width: 2rem;
}





/* ====================================
Login start
==================================== */
.customcard{
background-color: rgba(255, 255, 255, 0.95);
border-radius: 0.25rem;
}

input[type=password]:focus, 
input[type=email]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus{
  box-shadow:  0 0 0.2rem #2BBBAD;
}

/* ====================================
Login end
==================================== */

/* ====================================
404 start
==================================== */
.notfound-title{
  font-size: 12rem;
}

.notfound-text {
  font-size:30px;
}


/* ====================================
404 end
==================================== */

/* ====================================
media queries start
==================================== */
@media (min-width: 320px) and (max-width: 575.98px) {
  .btn.btn-lg {
    padding: 1rem 1.5rem !important;
  }
  .contact-text{
    font-size: 1rem !important;
  }

  .contact-footer{
    font-size: 0.7rem !important;
  }

  .form-admin {
    max-width: 100%;
    margin:0 !important;
    padding: 0;
  }

  .md-form .form-control {
    height: auto;
    padding: .6rem 0 0rem 0;
    margin: 0 0 .5rem 0;
    background-color: transparent;
    border-radius: 0;
}

.my-4 {
  margin-top:0px !important;
  margin-bottom: 0px !important;
}

  .title-admin {
    display: none;
}

.customcard {
  padding-top: 0 !important;
}
}

@media (max-width: 575.98px) {
.logo {
  top: 2%;
  left: 2%;
}
.open-overlay {
  top: 1rem;
}

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff !important;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 30px;
}

nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
nav ul li {
  height: 20%;
}
nav ul li a {
  font-size: 20px;
}
nav li a {
  top: 38%;
}
nav li a:after {
  font-size: 0.6rem;
  bottom: -25px;
}
nav li a:hover:after {
  transform: translateY(0);
}
.open-overlay {
  right: 1rem;
}
nav li a:before {
  width: 25px;
}
.home-title {
  font-size: 4rem;
}
.btn.btn-lg {
  padding: 1rem 1.9rem;
}
.home-buttons {
  width: 100%;
}

/* game.html */
.background-white {
  background-color: transparent;
  box-shadow:  0 0 0.3em 0.1em transparent;
}

.hud-prefix {
  font-size: 1.1rem;
}

.hud-text {
  font-size: 1.1rem;
}

.question-card {
  width: 100%;
  height: 15vh;
}

.question {
  font-size: 1.1rem !important;
}

.proposals{
  font-size: 1rem;
}

.title-admin {
  font-size: 2rem;
}

.form-admin {
  max-width: 100%;
  margin:0 !important;
}

.btn.btn-lg {
  padding: 1rem 0.8rem !important;
  font-size: .70rem !important;
}


}

@media (min-width: 576px) and (max-width: 767.98px) { 

nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
nav ul li {
  height: 20%;
}
nav ul li a {
  font-size: 25px;
}
nav li a {
  top: 35%;
}
nav li a:after {
  font-size: 0.6rem;
  bottom: -25px;
}
nav li a:hover:after {
  transform: translateY(0);
}
.open-overlay {
  right: 1rem;
}
nav li a:before {
  width: 25px;
}
.background-white {
  background-color: transparent;
  box-shadow:  0 0 0.3em 0.1em transparent;
}
.hud-text {
  font-size: 2rem;
}
.question {
  font-size: 1.5rem;
}

.title-admin {
  font-size: 2rem;
}

.btn.btn-lg {
  padding: 1rem 1.2rem !important;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    height: 20%;
  }
  nav ul li a {
    font-size: 25px;
  }
  nav li a {
    top: 35%;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }

  .question {
    font-size: 1.5rem;
  }

  .title-admin {
    font-size: 2rem;
  }

  .btn.btn-lg {
    padding: 1rem 1.8rem !important;
  }
}

/* ====================================
media queries end
==================================== */