/* start contact */

.contact {
    background-image: url(../img/knowledgesdiv2.jpg);
    background-size: cover;
    background-position-y: center;
  }
  
  .logo-footer {
    width: 47%;
    height: auto;
  }
  
  .footer {
    background-color: #ffffff;
    color: #59698d;
  }
  
  .socialmedia-links {
    width: 5%;
    height: auto;
  }
  
  /* end contact */